export KUBECONFIG=${PWD}/.kube/config
export TALOSCONFIG=${PWD}/.talos/config
export PULUMI_HOME=${HOME}/.pulumi

#export PULUMI_CONFIG_PASSPHRASE=asdfqwer1234
#export PULUMI_SKIP_CONFIRMATIONS=true
#export PULUMI_SKIP_UPDATE_CHECK=true
