source venv/bin/activate 2>/dev/null || true
export KUBECONFIG=${PWD}/.kube/config
export PULUMI_SKIP_CONFIRMATIONS=true
export PULUMI_SKIP_UPDATE_CHECK=true
export PULUMI_HOME=${HOME}/.pulumi
#export NO_COLOR=false
